/* Coolors Exported Palette - coolors.co/eaeaea-ababab-041215-4a5c61-1a1b1c */

/* HSL */
$color1: hsla(0%, 0%, 92%, 1);
$color2: hsla(0%, 0%, 67%, 1);
$color3: hsla(191%, 68%, 5%, 1);
$color4: hsla(193%, 13%, 34%, 1);
$color5: hsla(210%, 4%, 11%, 1);

/* RGB */
$color1: rgba(234, 234, 234, 1);
$color2: rgba(171, 171, 171, 1);
$color3: rgba(4, 18, 21, 1);
$color4: rgba(74, 92, 97, 1);
$color5: rgba(26, 27, 28, 1);