@import 'palette';
@import 'fredrika';
@import 'dorotea';
@import 'vilhemina';

/* sass variables */

$fontBody: Bitter,serif;
$fontTitle: "Encode Sans",sans-serif;

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

/* http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/ */
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

/* W3.CSS 3.04 Apr 2017 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}
img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:$fontBody;line-height:1.5}html{overflow-x:hidden;font-size:16px;}
body{font-size: 62.5%; background-color: $color1; color: $color3;}
h1,h2,h3,h4,h5,h6{font-family:$fontTitle; letter-spacing: .2rem;}
h1{font-size:4.4em}h2{font-size:3em}h3{font-size:2.4em}h4{font-size:2em}h5{font-size:1.8em}h6{font-size:1.6em}
h1,h2,h3,h4,h5,h6{font-weight:800;margin:10px 0}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
hr{border:0;border-top:1px solid $color5 ;margin:20px 0}
img{margin-bottom:-5px}a{color:inherit}
p{font-size: 2em;}

/* STILAR */

/* Style the video: 100% width and height to cover the entire window */
#animation {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background-color: rgba( $color5 , .85 );
    color: $color1;
    width: 100%;
    padding: 20px;
    @include animation('overlay 1.4s');
}

@include keyframes(overlay) {
    from {
        background-color: rgba( $color5 , .0 );
    }
    to {
        background-color: rgba( $color5 , .85 );
    }
}

/* navbar */
nav {
    overflow: hidden;
    background-color: rgba( $color5 , .85 );
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    @include animation('overlay 1.4s');

    a {
        float: left;
        display: block;
        color: $color1;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: $fontBody;
        font-size: 2.4em;
        font-weight: 800;
        letter-spacing: .2rem;
    }

    a:hover {
        background-color: $color4;
    }

    .active {
        color: rgba( darken( $color3 , 30% ) , .8);
    }

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%
    }

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 60px;
    }
}

.om {
    padding: 20px;
    padding-top: 60px;
    width: 100%;
}

/* image grid */

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE 10 */
    flex: 25%;
    padding: 0 4px;

    img {
        margin-top: 16px;
        vertical-align: middle;
    }
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba( $color3 , .8 );
}

.modalBody {
    text-align: center;
}

/* Modal Content/Box */
.modal-content {
    background-color: $color1;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid lighten( $color1 , 30% );
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%;

    p {
        text-align: left;
    }

    iframe {
        border: none;
        overflow: hidden;
        width: 100%;
        height: 80%;
    }
}

#modalAnimation {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: $color2;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: darken( $color4 , 30% );
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: $color3;
    cursor: pointer;
}

.playerButtons {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 4px 22px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    background-color: $color5; /* Blue */
    font-family:$fontTitle;
    font-size: 2em;
    letter-spacing: .2rem;
}

.playerButtons:nth-child(odd) {
    margin-left: 20px;
}

.playerButtons:hover {
    background-color: lighten( $color5 , 30% ); /* Blue */
}

/* The Close Button */
.close {
    color: $color5;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: lighten( $color5 , 30% );
    text-decoration: none;
    cursor: pointer;
}

