/* Coolors Exported Palette - coolors.co/89023e-cc7178-ffd9da-f3e1dd-c7d9b7 */

/* HSL */
$dcolor1: hsla(333%, 97%, 27%, 1);
$dcolor2: hsla(355%, 47%, 62%, 1);
$dcolor3: hsla(358%, 100%, 93%, 1);
$dcolor4: hsla(11%, 48%, 91%, 1);
$dcolor5: hsla(92%, 31%, 78%, 1);

/* RGB */
$dcolor1: rgba(137, 2, 62, 1);
$dcolor2: rgba(204, 113, 120, 1);
$dcolor3: rgba(255, 217, 218, 1);
$dcolor4: rgba(243, 225, 221, 1);
$dcolor5: rgba(199, 217, 183, 1);

.dorotea {
	background-color: $dcolor1;
	a {
		color: $dcolor2;
	}
}